logs/
data/

*.db
*.sqlite
*.sqlite3
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

env.
env.example
sessions/
.env
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production